.NumberKey {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-family: var(--fontFamily);
    font-weight: 700;
    font-size: var(--Font-size-numbers);
    outline: none;
    cursor: pointer;
}

.NumberKey:focus, .NumberKey:hover {
    transform: scale(1.095);
}

.NumberKey:active {
    transform: scale(.95);
}

/* __________________________THEME1________________________________ */

.NumberKey__theme1 {
    color: var(--Very-dark-grayish-blue);
    background-color: var(--Light-grayish-orange-key-BG);
    box-shadow: inset 0px -5px 0px var(--Grayish-orange-key-shadow);
}

/* ______________________________THEME2____________________________ */

.NumberKey__theme2 {
    color: var(--Very-dark-grayish-yellow);
    background-color: var(--Light-grayish-yellow-key-BG);
    box-shadow: inset 0px -5px 0px var(--Dark-grayish-orange-key-shadow);
}

/* ___________________________________THEME3_____________________________ */

.NumberKey__theme3 {
    color: var( --Light-yellow);
    background-color: var(--Very-dark-violet-key-BG);
    box-shadow: inset 0px -5px 0px var(--Dark-magenta-key-shadow);
}
