.Switch {
    width: 60px;
}

.Numbers {
    display: flex;
}

.Numbers h3 {
    width: 20px;
    text-align: center;
}

.Button {
    height: 25px;
}

.Button button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 999px;
    cursor: pointer;
}

.Circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.Wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.Wrapper div {
    width: 20px;
    height: 100%;
}

/* _________________________________THEME1______________________________________ */

.Button__theme1 button {
    background-color: var(--Very-dark-desaturated-blue-toggle-BG-keypad-BG);
}

.Circle__theme1 {
    background-color: var(--Red-key-BG-toggle);
}

/* _____________________________THEME2____________________________________________ */

.Button__theme2 button {
    background-color: var(--Grayish-red-toggle-BG-keypad-BG);
}

.Circle__theme2{
    background-color: var(--Orange-key-BG-toggle);
}

/* ___________________________THEME3____________________________________________ */

.Button__theme3 button {
    background-color: var(--Very-dark-violet-toggle-BG-keypad-BG-screen-BG);
}

.Circle__theme3 {
    background-color: var(--Pure-cyan-key-background-toggle);
}