.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all .6s;
}

.Container {
    display: grid;
    grid-template: 70px 120px minmax(50px, 1fr) / 1fr;
    row-gap: 12px;
    width: 90%;
    height: 95%;
    min-width: 320px;
    max-width: 450px;
}

.Header {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.Switch_Theme {
    display: flex;
    align-items: flex-end;
}

.Switch_Theme_title {
    margin-right: 8px;
}

.Display {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.Display_container {
    display: flex;
    justify-content: flex-end;
    overflow-wrap: anywhere;
    width: 90%;
}

.Display_container h1 {
    width: fit-content;
}

.KeyBoard {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 800px;
    border-radius: 12px;
}

.KeyBoard_container {
    justify-self: center;
    display: grid;
    grid-template: repeat(5, 20%) / repeat(4, 25%);
    width: 90%;
    height: 90%;
}

.KeyBoard_container article {
    padding: 8px;
}

.Reset {
    grid-area: 5 / 1 / 6 / 3;
}

.Equal {
    grid-area: 5 / 3 / 6 / 5;
}

/* -___________________________________THEME1________________________________________ */

.App__theme1 {
    background-color: var(--Very-dark-desaturated-blue-main-BG);
}
.Container__theme1 {
    color: var(--White);
}
.Display__theme1 {
    background-color: var(--Very-dark-desaturated-blue-screen-BG);
}
.KeyBoard__theme1 {
    background-color: var(--Very-dark-desaturated-blue-toggle-BG-keypad-BG);
}

/* ________________________________________THEME2_______________________________________ */

.App__theme2 {
    background-color: var(--Light-gray-main-BG);
}
.Container__theme2 {
    color: var(--Very-dark-grayish-yellow);
}
.Display__theme2 {
    background-color: var(--Very-light-gray-screen-BG);
}
.KeyBoard__theme2 {
    background-color: var(--Grayish-red-toggle-BG-keypad-BG);
}

/* ____________________________________________THEME3___________________________________ */

.App__theme3 {
    background-color: var(--Very-dark-violet-main-BG);
}
.Container__theme3 {
    color: var(--Light-yellow);
}
.Display__theme3 {
    background-color: var(--Very-dark-violet-toggle-BG-keypad-BG-screen-BG);
}
.KeyBoard__theme3 {
    background-color: var(--Very-dark-violet-toggle-BG-keypad-BG-screen-BG);
}
